@use "../../../styles/vars.scss" as *;

.button {
  cursor: pointer;

  align-self: center;
  font-size: 18px;
  font-weight: 500;

  padding: 10px 30px;
  border-radius: 15px;

  color: #fff;
  background-color: $blue;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $blue-hover;
  }
}
