// VAARIABLES

$delicate-blue: #ddebf2; //Нежный голубой:
$pastel-blue: #b5d2df; //Пастельный голубой:
$deep-blue: #042c58; //Глубокий синий:
$turquoise-blue: #095c6d; //Бирюзово-синий:
$emerald-green: #19987b; //Изумрудный зелёный:
$blue-haze: #8cb5ca; //Голубая дымка:
$the-sea-wave: #31ad94; //Морская волна:
$grey-graphite: #747474; //Серый графит:
