@use "../../../styles/vars.scss" as *;

.wrapper {
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.right {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  margin-top: 50px;
}

.delete {
  padding: 15px 30px;
}
