@use "../../../styles/vars.scss" as *;

.title {
  display: inline-block;
  word-break: break-word;
  padding: 10px 20px;
  border-radius: 30px;

  background-color: rgba($color: $blue, $alpha: 0.1);
  color: $blue;
}

.inProgress {
  background-color: rgba($color: $status-progress, $alpha: 0.1);
  color: $status-progress;
}

.isCompleted {
  background-color: rgba($color: $status-complited, $alpha: 0.1);
  color: $status-complited;
}

.isTotal {
  background-color: rgba($color: $blue, $alpha: 0.1);
  color: $blue;
}

.isWaiting {
  background-color: rgba($color: $status-waiting, $alpha: 0.1);
  color: $status-waiting;
}
