@use "../../../styles/vars.scss" as *;

.link {
  position: relative;
  font-size: 24px;
  color: $dark;
  padding-bottom: 25px;

  opacity: 0.7;
}

.linkActive {
  opacity: 1;
  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 50px;
    background-color: $blue;
    border-radius: 10px;
    height: 4px;
  }
}
